<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DealOye</title>

  <!-- ==== STYLE.CSS ==== -->
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/products.css" />
  {{!--
  <link rel="stylesheet" href="/css/nav.css" /> --}}
  <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">

  <!-- ====  REMIXICON CDN ==== -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- ==== ANIMATE ON SCROLL CSS CDN  ==== -->
  {{!--
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" /> --}}
  {{!--
  <script src="/js/index.js" defer></script> --}}
  <script src="/js/featuredProducts.js" defer></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Project name on the left -->
      <a class="navbar-brand text-white" href="/">DealOye</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Add ms-auto to shift the links to the right -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Navigation Links -->
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/sell">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/buy">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/requirements">Requirements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/wishlist">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item"></li>
          <a class="nav-link text-white" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/signup">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- ==== MAIN CONTENT ==== -->
  <main>
    <section class="search-bar">
      <div class="container">
        <form action="/search" method="GET">
          <input type="text" name="query" placeholder="Search for products..." required />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </section>
    {{!-- to search any product --}}
    {{#if error}}
    <p>{{error}}</p>
    <h1>Search Results</h1>
    {{else}}
    <div id="product-container">
      {{#each products}}
      <div class="product">
        <img src="{{this.images.[0]}}" alt="{{this.name}}">
        <div class="product-info">
          <h2>{{this.name}}</h2>
          <p>{{this.description}}</p>
          <p class="price">${{this.price}}</p>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}

    <h1 style="margin-top: 30px">
      <center>Featured Products</center>
    </h1>
    <div id="featured-container">
      <!-- Featured products will be inserted here -->
    </div>


  </main>
  <!-- Footer -->
<footer class="footer mt-auto py-3 bg-dark text-white text-center sticky-footer">
    <div class="container">
        <span>&copy; 2024 DealOye. All rights reserved.</span>
    </div>
</footer>
</body>

</html>